$orange: #ec5242;
$black: #272a31;
$lightGrey: #d3d3d3;

@font-face {
  font-family: cocogoose;
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/COCOGOOSE.woff);
}

.desktop {
  display: none;
}

@media (min-width: 768px) {
.desktop {
  display: contents;
}
}